
@{
    ViewBag.Title = "Index";
}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<script src="~/Scripts/AppJs/ConsumeAPI.js"></script>


<table>
    <tr><td><input type="text" placeholder="Send Data" id="DataField" /></td></tr>

    <tr>
    
    <td> <input type="button"  value="HIT API" onclick="HitAPI();" /> </td></tr>

    <tr><td>   <label id="RecData"></label> </td></tr>
</table>